<cp-color-buttons />
<div class="clock">
  <div class="hours">
    <cp-digit [digit]="tenHours"></cp-digit>
    <cp-digit [digit]="hour"></cp-digit>
  </div>
  <cp-two-points></cp-two-points>
  <div class="minutes">
    <cp-digit [digit]="tenMinute"></cp-digit>
    <cp-digit [digit]="minute"></cp-digit>
  </div>
  <cp-two-points></cp-two-points>
  <div class="seconds">
    <cp-digit [digit]="tenSecond"></cp-digit>
    <cp-digit [digit]="second"></cp-digit>
  </div>
  <div class="buttons">
  </div>
</div>
