<div class="digit">
  <cp-led [isOn]="dictionary[digit][0].isOn" />
  <div class="verticals">
    <cp-led [isOn]="dictionary[digit][1].isOn" [customClass]="'vertical'" />
    <cp-led [isOn]="dictionary[digit][2].isOn" [customClass]="'vertical'" />
  </div>
  <cp-led [isOn]="dictionary[digit][3].isOn" />
  <div class="verticals">
    <cp-led [isOn]="dictionary[digit][4].isOn" [customClass]="'vertical'" />
    <cp-led [isOn]="dictionary[digit][5].isOn" [customClass]="'vertical'" />
  </div>
  <cp-led [isOn]="dictionary[digit][6].isOn" />
</div>
